/* Global start*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
:root{
  /* Colors */
  --background-color: rgb(8, 23, 45);
  --btn-color: rgb(16, 37, 69);
  --nav-border-color: rgb(5, 16, 60);
  --text-color: rgba(230, 223, 223, 0.681);
  --text-color-offset: rgba(230, 223, 223, 0.499);
  --glow: rgb(98, 212, 246);
  --glow2: rgb(62, 139, 244);
  --glow3: rgb(33, 77, 131);
  
  /* Fonts and Font Sizes */
  --heading-font: "Fredoka One";
  --main-font: "Fredoka One";
  --font-size-large: 5rem;
  --font-size-medium: 2rem;
  --font-size-normal: 1rem;
  --font-size-small: 0.8rem;
}
html {
  scroll-behavior: smooth;
}
body{
  font-family: var(--main-font);
  line-height: 1.5;
  background-color: var(--background-color);
  color: var(--text-color);
}
section{
  margin: 0 auto;
  padding: 120px o;
  max-width: 1000px;
  display: block;
}
.headings {
  width: 100%;
  color: var(--text-color);
  font-family: var(--heading-font);
  font-size: var(--font-size-medium);
  margin-bottom: 1rem;
  text-align: center;
}
img {
  width: 100%;
}
.socials {
  display: flex;
  align-self:flex-end ;
  flex-direction: column;
  position: fixed;
  bottom: -100px;
  right: 70px;
  z-index: 100;
  background: none;
}
/* Socials */
.socials > a {
  text-decoration: none;
  border-bottom: 0.1px solid transparent;
  transition: border-bottom-color 0.3s ease, color 0.3s ease;
}

.icon {
  color: var(--text-color);
  font-size: 2rem;
  margin: 5px;
  transition: color 0.3s ease;
}

.socials > a:hover,
.socials > a:focus {
  border-bottom-color: var();
}

.icon:hover {
  color: var(--glow);
}

.socials::after {
  content: "";
  display: block;
  height: 150px;
  width: 0.1px;
  background-color: var(--background-color);
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

/* Header */
.website-header{
  font-family: sans-serif;
  width: 100%;
  position: fixed;
  z-index: 9999;
  padding: 0 5rem;
  top: 0;
  right: 0;
  transition: top 0.3s;
  background-color: var(--background-color);
  border: 1px solid;
  border-color: var(--nav-border-color);
}
.nav-list{
  display: flex;
  justify-content: flex-end;
  list-style: none;
}
.nav-item{
  margin-left: 1rem;
}
.nav-item-link{
  color: var(--text-color);
}

.nav-item-link:hover,
.nav-item-link:focus{
  color: var(--glow);
}
/* Global end*/

/* Main */
#main-content {
  padding-top: 5rem;
  position: relative;
  padding: 0 150px;
  margin: 0 auto;
  max-width: 1600px;
}

/* Home */
.home-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  max-width: 1000px;
}
.name-heading{
  display: flex;
  justify-content: center;
  letter-spacing: 3px;
  font-weight: 900;
  color: var(--text-color);
  font-size: calc(var(--font-size-large) + 2.5rem);
  margin-bottom: -0.5rem;
}

.name-subheading{
  display: flex;
  justify-content: center;
  word-spacing: 10px;
  letter-spacing: 10px;
  font-size: var(--font-size-medium);
  margin-bottom: 1.2rem;
}
.intro{
  margin-top: 60px;
  color: var(--text-color-offset);
  font-size: calc(var(--font-size-normal) + 1px);
}
/* About Me */
.about-section .headings{
  position: relative;
  right: 15%;
}
.about-section .about-container{
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding-top: rem;
  gap: 2rem;
}
.about-image-container p{
  display: flex;
  justify-content: center;
  font-size: 6px;
}
.about-image-overlay{
  border: 1px solid;
  color: var(--glow2);
  border-radius: 10%;
}
.about-skills-grid{
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}
.about-skills-grid ul{
  list-style-type: none;
}
.skills-col1{

}
.skills-col2{
  margin-right: 35%;
}
/* Projects Section */
.projects-section{
  display: flex;
  flex-direction: column;
}
.projects-tab{
  display: flex;
  justify-content: center;
}
.project-images-container {
  width: 100%;
  height: 400px; /* Set a fixed height for the container */
  display: flex; /* Enable flexbox layout */
  justify-content: center;
  overflow: hidden; /* Hide any overflow to maintain the layout */
  position: relative;
}
.project-images-container img {
  width: auto;
  height: 100%;
  position: absolute; /* Position images absolutely within the container */
  transition: opacity 1s ease, transform 2s ease; /* Smooth transition */
  opacity: 0; /* Start with images hidden */
}
.project-images-container img.active {
  opacity: 1; /* Show the active image */
}
.projects-nav{
  display: flex;
  justify-content: center;
  font-size: var(--font-size-large); /* placeholder for now */
}
.ri-arrow-left-s-line:hover {
  color: var(--glow); /* Color on hover for left arrow */
  transform: scale(1.5);
}
.ri-arrow-right-s-line:hover {
  color: var(--glow); /* Color on hover for left arrow */
  transform: scale(1.5);
}
.projects-description{
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

/* Contact */
.contact-description{
  display: flex;
  justify-content: center;
  margin: 5% 0;
}
.contact-button-container{
  display: flex;
  justify-content: space-around;
  margin: 0 20%;
}
.contact-button{
  background-color: var(--btn-color);
  color: var(--glow);
  padding: 5px 20px;
  border-radius: 8px;
}
.contact-button:hover{
  background-color: var(--glow);
  color: var(--btn-color);
}